body {
    font-family: 'Quicksand';
    
}
.mySlides {display:none;}
.roundimage {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:230px;z-index: 9999;
}
.imageview{
  margin: 50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main {
  
  display: flex;
  align-items: center;
  justify-content: center;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* for mobileview */
@media only screen and (max-width: 600px) { 
  .main {
    margin-top: -200px;
    flex-direction: column;
  }
  .mob{
    text-align: center;
  }
  #left-animate{
    position: relative;
    overflow: hidden;
  }
  .startContent
{
  margin-top:550px;
  padding: 2%;
  
}
.headImage{
  display: none;
}
.headImage2{
  display: none;
}
.txtaligncenter{
  text-align: center;
}
.roundimage{
  width: 50%;
  z-index: 9999;
}
}


@media only screen and (min-width: 601px) {
  #left-animate{
    position: relative;
    overflow: hidden;
    margin-left: 30px;
    animation: floatText 1s  ease-out;
  }
  .startContent
{
  margin-top:850px
}
.txtaligncenter
{
  margin-left: 20px;
}
}

@-webkit-keyframes floatText{
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(10%);
  }
}

.animate{
  animation: scaleup  1s  alternate infinite ease-in-out;
}

@-webkit-keyframes scaleup{
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1.2);
  }
}
.headImage{
  z-index: 9999;width: 32%;border-radius: 10px;
}
.headImage2{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  z-index: 9999;width: 32%;border-radius: 10px;text-align: end;
  transition: transform .5s ease;
  overflow: hidden;
}

.headImage2:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.02);
}


.headImage3{
  z-index: 9999;width: 18%;border-radius: 10px;text-align: end;
}
.button {
  border-radius: 5px;
  background-color: #000000;
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

